body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
  }

  .container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    resize: vertical;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #92c394;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* for the back button container */
.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

/*for the back button */
.back-button-container button {
  padding: 8px 12px;
  background-color: #0faf4c;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
